# Byte-compiled/optimised/ DLL files
__pycache__/
*.py[cod]
*$py.class

#any temp files

*~
*.tmp

#.DS_Store

.DS_Store

# remove other scripts

sandbox/

# remove the Jupyter notebook checkpoint folder

.ipynb_checkpoints
