# Byte-compiled/optimised/ DLL files
__pycache__/
*.py[cod]
*$py.class

#any temp files

*~
*.tmp

#.DS_Store

.DS_Store
ls
# remove the Jupyter notebook checkpoint folder

.ipynb_checkpoints

# R Session Data files in code directory

.RData
.Rhistory

